@media screen and (min-width: 1200px) { 
    .aboutus-title {
        
        padding-top: 46px;
        font-family: "Forum";
        font-size: 32px;
        line-height: 80px;
        margin: auto;
        text-align: center;
        max-width: 1000px;
    }
    
    
    
    .aboutus-cards {
        display: flex;
        margin-top: 300px;
        background-color: #f4f4f4;
    }
    
    .aboutus-card__title { 
        padding-top: 20px;
        font-family: "Forum";
        font-size: 34px;
        text-align: center;
    }
    
    .aboutus-card__subtitle{
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 529px;
        font-family: "Cormorant Garamond", serif;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
    
    .aboutus-card1{
        margin-left: 57px;
        margin-top: 29px;
    }
    
    .aboutus-card2 { 
        margin-left: 151px;
        margin-right: 57px;
        margin-top: 167px;
    }
    
    .aboutus-release__title { 
        font-family: "Forum";
        font-size: 40px;
    }
    
    .aboutus-release { 
        margin-top: 123px;
    }
    
    .aboutus-releasebox { 
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
    
    .aboutus-line { 
        width: 100%;
        height: 1px;
        background-color: #000;
    
    }
    
    .aboutus-release__title { 
        width: 500px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width:1199px) and (min-width:768px) { 
    .href { 
        margin-top: -50px;
    }

    .aboutus-title {
        padding-top: 24px;
        font-family: "Forum";
        font-size: 20px;
        line-height: 40px;
        margin: auto;
        text-align: center;
        max-width: 500px;
    }
    
    
    
    .aboutus-cards {
        display: flex;
        margin-top: 30px;
        background-color: #f4f4f4;
    }
    
    .aboutus-card__title { 
        padding-top: 10px;
        font-family: "Forum";
        font-size: 34px;
        text-align: center;
    }
    
    .aboutus-card__subtitle{
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 269px;
        font-family: "Cormorant Garamond", serif;
        font-size: 12px;
        text-align: center;
        margin: auto;
    }
    
    .aboutus-card1{
        margin-left: 37px;
        margin-top: 19px;
    }
    
    .aboutus-card2 { 
        margin-left: 71px;
        margin-right: 27px;
        margin-top: 87px;
    }
    
    .aboutus-release__title { 
        font-family: "Forum";
        font-size: 20px;
    }
    
    .aboutus-release { 
        margin-top: 63px;
    }
    
    .aboutus-releasebox { 
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    
    .aboutus-line { 
        width: 100%;
        height: 1px;
        background-color: #000;
    
    }
    
    .aboutus-release__title { 
        width: 250px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:767px)  { 
    .href { 
        margin-top: -50px;
        margin-bottom: 20px;
    }
    .aboutus-title {
        
        font-family: "Forum";
        font-size: 20px;
        line-height: 20px;
        margin: auto;
        text-align: center;
        max-width: 250px;
    }
    
    
    
    .aboutus-cards {
        display: flex;
        margin-top: 150px;
        background-color: #f4f4f4;
    }
    
    .aboutus-card__title { 
        padding-top: 10px;
        font-family: "Forum";
        font-size: 16px;
        text-align: center;
    }
    
    .aboutus-card__subtitle{
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 139px;
        font-family: "Cormorant Garamond", serif;
        font-size: 10px;
        text-align: center;
        margin: auto;
    }
    
    .aboutus-card1{
        margin-left: 37px;
        margin-top: 19px;
    }
    
    .aboutus-card2 { 
        margin-left: 71px;
        margin-right: 27px;
        
    }
    
    .aboutus-release__title { 
        font-family: "Forum";
        font-size: 20px;
    }
    
    .aboutus-release { 
        margin-top: 63px;
    }
    
    .aboutus-releasebox { 
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    
    .aboutus-line { 
        width: 100%;
        height: 1px;
        background-color: #000;
    
    }
    
    .aboutus-release__title { 
        width: 250px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}