@media screen and (min-width: 1200px) { 
    .aboutus-newrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        margin-top: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-newrelease__title__buttons { 
        font-size: 35px;
    }

    .aboutus-newrelease__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    .aboutus-newrelease__product { 
        margin-right: 83px;
        
    }

    .aboutus-newrelease__product:nth-child(3n) {
        margin-right: 0;
    }

    .aboutus-newrelease__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-newrelease__product__img { 
        border: 1px solid #000;
    }

    .aboutus-newrelease__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 23px; 
    }

    .aboutus-newrelease__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-newrelease__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-newrelease__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-bestsellers__title {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        margin-top: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-bestsellers__title__buttons { 
        font-size: 35px;
    }

    .aboutus-bestsellers__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }

    .aboutus-bestsellers__product { 
        margin-right: 83px;
    }

    .aboutus-bestsellers__product:nth-child(3n) {
        margin-right: 0;
    }

    .aboutus-bestsellers__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-bestsellers__product__img { 
        border: 1px solid #000;
    }

    .aboutus-bestsellers__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 23px; 
    }

    .aboutus-bestsellers__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-bestsellers__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-bestsellers__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-lastrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 40px; 
        height: 200px;
        background: linear-gradient(to left, #b6b3b3, #ffffff);
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutus-lastrelease__product { 
        text-align: justify;
        margin-top: 50px;
        
    }

    .aboutus-lastrelease__product img{
        float: right; /* Выравнивание картинки справа */
        margin: 0 0 10px 10px; /* Задайте нужные отступы вокруг картинки для выравнивания и создания отступов от текста */
        max-width: 50%;
    }

    .aboutus-lastrelease__product p {
        font-family: "Cormorant Garamond";
        font-size: 35px; 
        background-image: url(/img/aboutus-back.svg);
        background-size: 100%;
        display: inline-block; /* Размещение текста внутри блока и обтекание картинки */
        vertical-align: top; /* Выравнивание текста по верхнему краю */
    }

    .aboutus-newrelease__product,
    .aboutus-bestsellers__product {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
}

@media screen and (max-width:1199px) and (min-width:768px) { 
    .aboutus-newrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 22px; 
        margin-top: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-newrelease__title__buttons { 
        font-size: 35px;
    }

    .aboutus-newrelease__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    .aboutus-newrelease__product { 
        margin-right: 23px;
    }

    .aboutus-newrelease__product:nth-child(3n) {
        margin-right: 0;
    }

    .aboutus-newrelease__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-newrelease__product__img { 
        border: 1px solid #000;
    }

    .aboutus-newrelease__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 20px; 
    }

    .aboutus-newrelease__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-newrelease__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-newrelease__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-bestsellers__title {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        margin-top: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-bestsellers__title__buttons { 
        font-size: 35px;
    }

    .aboutus-bestsellers__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    .aboutus-bestsellers__product { 
        margin-right: 23px;
    }

    .aboutus-bestsellers__product:nth-child(3n) {
        margin-right: 0;
    }

    .aboutus-bestsellers__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-bestsellers__product__img { 
        border: 1px solid #000;
    }

    .aboutus-bestsellers__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 20px; 
    }

    .aboutus-bestsellers__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-bestsellers__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-bestsellers__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-lastrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 40px; 
        height: 200px;
        background: linear-gradient(to left, #b6b3b3, #ffffff);
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutus-lastrelease__product { 
        text-align: justify;
        margin-top: 50px;
        
    }

    .aboutus-lastrelease__product img{
        float: right; /* Выравнивание картинки справа */
        margin: 0 0 10px 10px; /* Задайте нужные отступы вокруг картинки для выравнивания и создания отступов от текста */
        max-width: 50%;
    }

    .aboutus-lastrelease__product p {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        background-image: url(/img/aboutus-back.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block; /* Размещение текста внутри блока и обтекание картинки */
        vertical-align: top; /* Выравнивание текста по верхнему краю */
    }

    .aboutus-newrelease__product,
    .aboutus-bestsellers__product {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }
}

@media screen and (max-width:767px)  { 
    .aboutus-newrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-newrelease__title__buttons { 
        font-size: 35px;
    }

    .aboutus-newrelease__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .aboutus-newrelease__product { 
        margin-right: 19px;
    }

    .aboutus-newrelease__product:nth-child(2n) {
        margin-right: 0;
    }

    .aboutus-newrelease__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-newrelease__product__img { 
        border: 1px solid #000;
    }

    .aboutus-newrelease__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 15px; 
    }

    .aboutus-newrelease__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-newrelease__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-newrelease__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-bestsellers__title {
        font-family: "Cormorant Garamond";
        font-size: 25px; 
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .aboutus-bestsellers__title__buttons { 
        font-size: 35px;
    }

    .aboutus-bestsellers__list { 
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .aboutus-bestsellers__product { 
        margin-right: 19px;
    }

    .aboutus-bestsellers__product:nth-child(2n) {
        margin-right: 0;
    }

    .aboutus-bestsellers__product:last-child { 
        margin-right: 0px;
    }

    .aboutus-bestsellers__product__img { 
        border: 1px solid #000;
    }

    .aboutus-bestsellers__product__subtitle { 
        border: 1px solid #000;
        font-family: "Cormorant Garamond";
        font-size: 15px; 
    }

    .aboutus-bestsellers__product__header { 
        margin-top: 10px;
        color: #000;
    }

    .aboutus-bestsellers__product__disc { 
        margin-top: 12px;
        color: #000;
    }

    .aboutus-bestsellers__product__date { 
        text-align: end;
        color: #000;
    }

    .aboutus-lastrelease__title {
        font-family: "Cormorant Garamond";
        font-size: 30px; 
        height: 200px;
        background: linear-gradient(to left, #b6b3b3, #ffffff);
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutus-lastrelease__product { 
        text-align: justify;
        margin-top: 50px;
        
    }

    .aboutus-lastrelease__product img{
        float: right; /* Выравнивание картинки справа */
        margin: 0 0 10px 10px; /* Задайте нужные отступы вокруг картинки для выравнивания и создания отступов от текста */
        max-width: 50%;
    }

    .aboutus-lastrelease__product p {
        font-family: "Cormorant Garamond";
        font-size: 19px; 
        background-image: url(/img/aboutus-back.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block; /* Размещение текста внутри блока и обтекание картинки */
        vertical-align: top; /* Выравнивание текста по верхнему краю */
    }

    .aboutus-newrelease__product,
    .aboutus-bestsellers__product {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }
}