.category-text {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
}

.category-title {
    font-family: "Forum";
}

.category-subtitle {
    padding-top: 30px;
    font-size: 30px;
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Cormorant Garamond";
}