@media screen and (min-width:1200px) {
    .account-title { 
        display: flex;
        font-family: "Forum";
        font-size: 35px;
        align-items: center;
    }

    .account-img { 
        margin-left: 20px;
    }

    .account-title__name { 
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
        align-items: center; /* выравнивание по центру по вертикали */
        justify-content: center;
    }
    
    .account-img__gear { 
        margin-top: auto;
        align-items: center; /* выравнивание по центру по вертикали */
        justify-content: center;
        width: 25px;
        height: 30px;
        margin-left: 5px;
    }

    .account-href { 
        margin-top: 23px;
        display: flex;
        font-family: "Forum";
        font-size: 20px;
        color: #666666;
        align-items: center; /* выравнивание по центру по вертикали */
       
    }

    .account-href__tire { 
        font-size: 40px;
    }

    .account-navigation{ 
        display: flex;
        align-items: center; /* выравнивание по центру по вертикали */
        justify-content: center;
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
    }

    .account-navigation div { 
        margin-left: 19px;
    }

    .account-navigation__img__ld  { 
        height: 40px;
    }

    .account-navigation__img__pass{
        height: 40px;
    }

    .account-navigation__img__now{
        height: 40px;
    }
    
    .account-navigation__img__his { 
        height: 45px;
    }

    .account-navigation__img__quit { 
        height: 35px;
    }

    .account-container { 
        background-color: #fcfcfc;
        border-left: 1px solid #242424;
        border-right: 1px solid #242424;
        display: flex;
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    .account-container__ld { 
        font-family: "Cormorant Garamond", serif;
        font-size: 30px;
    }

    .account-container__block__name { 
        font-size: 25px;
    }

    .account-container__block__email { 
        font-size: 25px;
    }

    .account-container__block__phone { 
        font-size: 25px;
    }

    .account-container__block__address { 
        font-size: 25px;
    }

    .account-container__block { 
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #968383;
    }


}