.views-block {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.views-item {
    padding-left: 150px;
    padding-right: 150px;
}

.vertical-line {
    width: 2px;
    height: auto;
    color: #000;
    background-color: #000;
}

.views-title {
    max-width: 600px;
    text-align: center;
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    color: #787878;
}

.views-parafraf {
    font-size: 20px;
    font-family: "Forum";
    color: #787878;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}