@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Suranna:regular);
@import url(https://fonts.googleapis.com/css?family=Gabriela:regular);

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*------------------------------------Wrapper------------------------------------*/

@media screen and (min-width: 1200px) {
    .wrapper {
        height: 100%;
        margin-left: 130px;
        margin-right: 130px;
        position: relative;
    }
}

@media screen and (max-width:1200px) and (min-width:768px)  {
    .wrapper {
        height: 100%;
        margin-left: 80px;
        margin-right: 80px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }
}

/*-------------------------------------Header----------------------------------------*/

@media screen and (min-width: 1200px) { 
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        transition: background-color 0.3s ease;
        z-index: 999;
        /* Установите высокий z-index, чтобы заголовок был поверх контента */
    }
    
    .header-logo {
        margin-left: 160px;
    }
    
    .header-logo__text {
        font-size: 40px;
        text-decoration: none;
        color: #000;
    }
    
    .header-nav__list {
        display: flex;
    }
    
    .header-language {
        font-size: 15px;
    }
    
    .header-nav__item {
        margin-left: 30px;
        width: 26px;
        height: 26px;
    }
    
    .header-nav__item:first-child {
        margin-left: 0px;
    }
}

@media screen and (max-width:1199px) and (min-width:768px)  {
    .header {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        
        background-color: #fff;
        padding: 10px;
        transition: background-color 0.3s ease;
        z-index: 999;
        /* Установите высокий z-index, чтобы заголовок был поверх контента */
    }
    
    .header-logo {
        margin-left: 80px;
    }
    
    .header-logo__text {
        font-size: 40px;
        text-decoration: none;
        color: #000;
    }
    
    .header-nav__list {
        display: flex;
        justify-content: right;
        
    }
    
    .header-language {
        font-size: 15px;
    }
    
    .header-nav__item {
        margin-left: 15px;
        width: 26px;
        height: 26px;
    }
    
    .header-nav__item:first-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        
        background-color: #fff;
        padding: 10px;
        transition: background-color 0.3s ease;
        z-index: 999;
        /* Установите высокий z-index, чтобы заголовок был поверх контента */
    }
    
    .header-logo {
        margin-top: 20px;
        margin-left: 80px;
    }
    
    .header-logo__text {
        font-size: 21px;
        text-decoration: none;
        color: #000;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    
    .header-nav__list {
        display: flex;
        justify-content: right;
        
    }
    
    .header-language {
        font-size: 15px;
    }
    
    .header-nav__item {
        margin-left: 15px;
        width: 20px;
        height: 20px;
    }
    
    .header-nav__item:first-child {
        margin-left: 0px;
    }
}

/*---------------------------------index---------------------------------------*/



/*---------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
    .footer {
        background-color: #f3f3f3;
        height: 400px;
        width: 100%;
        margin-top: 120px;
    }
    
    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }
    
    .footer-main__text {
        font-size: 30px;
        font-family: "Forum";
        width: 100%;
        text-align: center;
        color: #c5c753;
    }
    
    .footer-line {
        background-color: #acacac;
        width: 100%;
        height: 2px;
    }
    
    .footer-nav__list {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item {
        width: 230px;
        text-align: center;
    }
    
    .footer-nav-title {
        font-size: 32px;
        font-family: "Forum";
        color: #c5c753;
        padding-bottom: 15px;
    }
    
    .footer-nav__subtitle {
        font-size: 24px;
        font-family: "Cormorant Garamond", serif;
        text-decoration: none;
        color: #000;
    }
    
    .footer-nav__img__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item__img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
}

@media screen and (max-width:1199px) and (min-width:768px) {
    .footer {
        background-color: #f3f3f3;
        height: 400px;
        width: 100%;
        margin-top: 120px;
    }
    
    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }
    
    .footer-main__text {
        font-size: 30px;
        font-family: "Forum";
        width: 100%;
        text-align: center;
        color: #c5c753;
    }
    
    .footer-line {
        background-color: #acacac;
        width: 100%;
        height: 2px;
    }
    
    .footer-nav__list {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item {
        width: 230px;
        text-align: center;
    }
    
    .footer-nav-title {
        font-size: 22px;
        font-family: "Forum";
        color: #c5c753;
        padding-bottom: 15px;
    }
    
    .footer-nav__subtitle {
        font-size: 18px;
        font-family: "Cormorant Garamond", serif;
        text-decoration: none;
        color: #000;
    }
    
    .footer-nav__img__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item__img {
        width: 26px;
        height: 26px;
        margin-left: 10px;
    }
}
@media screen and (max-width:767px) {
    .footer {
        background-color: #f3f3f3;
        height: 250px;
        width: 100%;
        margin-top: 120px;
    }
    
    .footer-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }
    
    .footer-main__text {
        font-size: 20px;
        font-family: "Forum";
        width: 100%;
        text-align: center;
        color: #c5c753;
    }
    
    .footer-line {
        background-color: #acacac;
        width: 100%;
        height: 2px;
    }
    
    .footer-nav__list {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item {
        width: 230px;
        text-align: center;
    }
    
    .footer-nav-title {
        font-size: 16px;
        font-family: "Forum";
        color: #c5c753;
        padding-bottom: 15px;
    }
    
    .footer-nav__subtitle {
        font-size: 13px;
        font-family: "Cormorant Garamond", serif;
        text-decoration: none;
        color: #000;
    }
    
    .footer-nav__img__list {
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav__item__img {
        width: 18px;
        height: 18px;
        
    }
}


/*------------------------------------------------------------------------*/

.href {
    font-family: "Forum";
    font-size: 18px;
    display: flex;
    padding-top: 200px;
    padding-left: 20px;
}

.href-title {
    color: #9d9f1e;
}

.href-subtitle {
    color: #000;
}

.href-subtitle_1 {
    color: #9d9f1e;
}

.name-window {
    color: #000;
    font-size: 30px;
    font-family: "Forum";
    padding-top: 30px;
    margin-bottom: 20px;
}

.product-add__cart {
    display: none;
    position: fixed;
    top: 90px; /* Расположение снизу */
    right: 75px; /* Расположение справа */
    background-color: #696969; /* Цвет фона */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.5s; /* Плавное изменение непрозрачности */
}

.product-add__wish { 
    display: none;
    position: fixed;
    top: 90px; /* Расположение снизу */
    right: 150px; /* Расположение справа */
    background-color: #696969; /* Цвет фона */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; /* Начальная непрозрачность */
    transition: opacity 0.5s; /* Плавное изменение непрозрачности */
}


/*---------------------------------------------------------------*/


/*----------------------------------------------------------*/



/*-------------------------------------------------------------------------------*/



/*------------------------------------ПЭЙМЭНТ----------------------------*/


/*---------------------------------SHOP--------------------------------------------*/



/*----------------------------product--------------------------------------*/



/*----------------------------------------------WISHLIST--------------------------*/


